/* These styles just illustrate what the library does.
 * You really want to override or edit all of these.
 */

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* TQTrivia defaults expect TEG Fake Pages */
.step-item {
	margin: 20pt auto;
	max-width: 1024px;
	position: relative;
}

/* We do a lot of EN work.
 * Hide the explanation content  and navigation
 * only in the live view.
 */
.en__component.en__component--copyblock ~ .step-nav .step-next,
.explanation ~ .step-nav .step-next {
	visibility: hidden;
}
body:not(#en__pagebuilder) .explanation,
body:not(#en__pagebuilder) .explanation * {
	visibility: hidden;
}

.explanation {
	border: 2px solid gray;
	padding: 8pt 8pt 0;
}

.explanation p {
	margin: 0 0 8pt;
}

.show,
.en__component.en__component--copyblock ~ .step-nav .step-next.show,
.explanation ~ .step-nav .step-next.show,
body:not(#en__pagebuilder) .explanation.show,
body:not(#en__pagebuilder) .explanation.show * {
	animation: fadeIn .5s;
	visibility: visible;
}

@keyframes flashBorder {
	0% {
		border: 2px solid gray;
	}
	12.5% {
		border: 2px solid black;
	}
	25% {
		border: 2px solid gray;
	}
	37.5% {
		border: 2px solid black;
	}
	50% {
		border: 2px solid gray;
	}
	62.5% {
		border: 2px solid black;
	}
	75% {
		border: 2px solid gray;
	}
	87.5% {
		border: 2px solid black;
	}
	100% {
		border: 2px solid gray;
	}
}

.correct {
	animation: flashBorder 2s;
	border: 2px solid gray;
}